.topheader {
    z-index: 999999;
    position: fixed;
    width: 100%;
    background: white;
    height: 110px;
    font-family: 'bignoodletitling';
}

body {
    font-size: 14px;
    line-height: 100%;
    font-weight: 300;
    color: #696969;
}

.logo {
    display: block;
    position: absolute;
    bottom: auto;

}

.logo>a>img{
    margin-top: -10px;
    padding-right: 10px;
    height: 60px;
}

.logo>a {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 70%;
    color: #696969;
    text-transform: uppercase;
    font-size: 20px;
    line-height: initial;
}

.primary-nav-trigger .menu-icon {
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 50%;
    width: 39px;
    height: 2px;
    background-color: black;
    
}

.primary-nav-trigger .menu-icon::before {
    top: -9px;
}

.primary-nav-trigger .menu-icon::after {
    top: 9px;
}

.primary-nav-trigger .menu-icon::before, .primary-nav-trigger .menu-icon::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    transition: transform .3s, top .3s;
}

.banner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

.banner img {
    height: 700px;
}

.slide {
   
    background-blend-mode: multiply,normal;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 650px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-size: cover;
    text-align: center;
}

.banner h2 {
    font-size: 3rem;
    margin-right: auto;
    margin-left: auto;
    color: aliceblue;
    font-family: 'bignoodletitling';
}

h3 {
    font-size: 38px;
    text-transform: uppercase;
    font-family: 'bignoodletitling';
}

@font-face {
    font-family: 'bignoodletitling';
    src: url(font/big_noodle_titling.ttf);
    font-weight: normal;
    font-style: normal;
}

.head_white_content span {
    display: inline-block;
    height: 2px;
    width: 250px;
    background-color: #5eb239;
}

.head_white_content{
    padding: 5%;
    text-align: center;
    width: 100%;
}

.head_white_content p{
    padding: 20px 90px 0px;
    color: #696969;
}

.aboutus{
    margin-bottom: 90px;
}

.advantage{
    text-align: center;
    width: 100%;
    background: #ebebeb;
    padding: 30px;
    margin: 3% 0;
    height: 400px;
}

.advantage span {
    font-size: 60px;
    color: #5eb239;
}

.advantage p {
    padding-top: 15px;
    color: #707070;
    font-size: 30px;
    line-height: 100%;
}

.shop {
    text-align: center;
    width: 100%;
    background: #ebebeb;
    padding: 30px;
    margin: 3% 0;
}

iframe {
    padding-top: 20px;
}

.shop1 span {
    margin-left: 10px;
    font-weight: 700;
    color: #5eb239;
    font-size: 24px;
}

.map {
    text-align: center;
    width: 100%;
    background: #ebebeb;
    padding: 30px;
    
}

footer {
    text-align: center;
    width: 100%;
    background: #8a8787;
    padding: 30px;
    color: #ebebeb;
}



footer img {
    width: 150px;
    padding-left: 10px;
}

#accordion h3{
    color: #5eb239;
}

.shop span {
    font-size: 60px;
    color: #5eb239;
}



.product-item {
    display: inline-block;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
 }
 .product-item:hover {
    border-bottom: 2px solid #5eb239;
 }
 .product-item img {
    display: block;
    width: 100%;
    height: 300px;
 }
 .product-list {
    background: #fafafa;
    padding: 15px 0;
    position: relative;
 }
 .product-list h3 {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 10px 0;
    
 }
 .price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
 }
 .button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
 }
 .product-item:hover .button {
    background: #fc5a5a;
 }
